div(class="w-full py-8 min-h-screen" style="color: #14163F;")
	div(class="mx-auto container px-4 md:px-48 w-full h-full")
		div(class="my-4")
			div(class="md:hidden w-full flex item-center justify-center py-24")
				div(class="w-full mx-24 skuy skuy-up")
					img(src="/assets/img/logo.png" class="w-full")
			div(class="w-full text-left text-4xl mb-8")
				| Apa itu
				br
				b Dayskomvis?
			div(class="w-full text-justify flex")
				div(class="hidden w-full md:flex item-center justify-center py-24")
					div(class="w-full mx-24 md:ml-0 skuy skuy-up")
						img(src="/assets/img/logo.png" class="w-full")
				div(class="w-full")
					p(class="w-full text-xl leading-10 skuy skuy-up") Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem repellendus assumenda sunt alias iure, nam quod non veritatis quas cupiditate facilis nisi rerum soluta aut pariatur vero aperiam quia.
					p(class="py-8 skuy skuy-up")
						a(href="#" class="p-6 pl-0 text-xl text-gray-900 rounded-3xl font-bold hover:underline text-center")
							| Lanjut Baca →
		div(class="my-8")
			div(class="w-full text-right text-4xl mb-8")
				| Maskot
				br
				b Dayskomvis5
			div(class="w-full text-justify flex skuy skuy-up")
				p(class="w-full text-xl leading-10") Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem repellendus assumenda sunt alias iure, nam quod non veritatis quas cupiditate facilis nisi rerum soluta aut pariatur vero aperiam quia.
				div(class="hidden w-full md:flex item-center justify-center py-24")
			div(class="w-full flex flex-col md:flex-row")
				div(class="w-full my-3 md:pr-4 md:pt-48")
					img(src="/assets/img/mascot-1.png" class="skuy skuy-up")
				div(class="w-full my-3 md:pl-4 md:pb-48")
					img(src="/assets/img/mascot-2.png" class="skuy skuy-up")
			div(class="w-full flex flex-col md:flex-row")
				div(class="w-full my-3 md:pr-4 md:pt-48")
					img(src="/assets/img/mascot-3.png" class="skuy skuy-up")
				div(class="w-full my-3 md:pl-4 md:pb-48")
					img(src="/assets/img/mascot-4.png" class="skuy skuy-up")
		//- mode desktop
		//- div(class="invisible md:visible")
		//- 	b mode desktop
		
		//- //- mode hp / tablet
		//- div(class="visible md:invisible")
			
