div(class="w-full py-8 min-h-screen" style="color: #14163F;")
	div(class="mx-auto container pt-48 px-4 md:px-24 lg:px-48 w-full h-full")
		div(class="text-4xl font-bold text-center") Tentang Dayskomvis 5
	div(class="w-full flex justify-center item-center py-24 my-16" style="background-color: #EFC12E;")
		div(class="w-48 md:ml-0 skuy float skuy-up")
			img(src="/assets/img/logo.png" class="w-full")
	div(class="mx-auto container px-4 md:px-24 lg:px-48 pb-48 w-full h-full")
		p(class="text-center mb-12 mx-16 text-lg") “ Keluarga mahasiswa D3 Desain Komunikasi Visual Universitas Sebelas Maret berinisiatif mengadakan sebuah event dengan nama Dayskomvis yang mempunyai arti Hari Komunikasi Visual yang bertujuan untuk mengenalkan desain komunikasi visual kepada masyarakat, mengingat kebanyakan masyarakat umum masih belum mengenal tentang apa itu desain komunikasi visual secara jelas dan benar. 

		p(class="text-center mb-12 mx-16 text-lg") “ Kami mengangkat tema “Reaction”  karena pada pameran Dayskomvis#5 kali ini kami ingin mempersembahkan sebuah respon atas suatu masalah yang ada di masyarakat dalam bentuk karya baik secara individu ataupun berkelompok. Sarana pemeran dan pengapresiasian karya mahasiswa D3 DKV UNS yang telah dibuat baik secara tim maupun individu sebagai respon bagi permasalahan dan isu yang ada di lingkungan sekitar mahasiswa D3 DKV UNS.
