div(class="w-full min-h-screen flex" style="color: #14163F;")
	div(class="hidden lg:flex flex-col w-full pt-8" style="background-image: url('/img/bg-bukutamu.png'); background-position: center; background-size: cover;")
		div(class="w-full flex justify-center")
			img(src="/img/logo.png" class="h-24 mr-2")
			
		div(class="w-full flex justify-center items-center h-full")
			img(src="/img/makasih.png" class="h-96 mr-2")

		div(class="w-full py-4 mt-16 text-center")
			p 2021. All Rights Reserved
	div(class="mx-auto container px-4 md:px-24 pt-8 w-full h-full flex flex-col items-center")
		div(class="w-full flex justify-center")
			img(src="/img/logo.png" class="h-24 mr-2 lg:invisible")
		div(class="w-full flex justify-center mt-12")
			form(method="post" action="/buku-tamu" class="flex flex-col" id="buku_tamu")
				input(type="hidden", name="next_url" value=`${next_url}`)
				p(class="text-xl")
					| Sebelum masuk, ngisi 
					b Buku Tamu 
					| dulu yaa...
				label(for="nama" class="mt-8 mb-3 font-bold") Nama
				input(type="text" id="nama" name="nama" class="bg-gray-200 p-3 rounded-xl") 
				label(for="asal" class="mt-8 mb-3 font-bold") Asal
				input(type="text" id="asal" name="asal" class="bg-gray-200 p-3 rounded-xl")
				div(class="flex justify-end mt-8 mb-3")
					input(type="button" onclick="submit_buku_tamu();" value="Masuk →" class="p-3 rounded-xl text-white" style="background-color: #F0572B;")
		
		div(class="w-full py-2 mt-16 text-center lg:hidden")
			p 2021. All Rights Reserved
		