div(class="w-full min-h-screen flex items-center bg-gray-100 bg-fixed"  style="background-image: url('/assets/img/bg-jumbotron.jpg'); background-size: cover; background-position: right;")
	div(class="mx-auto px-4 container py-12")
		div(class="w-100 py-4 mt-24 flex justify-center")
			img(src="/assets/svg/logo.svg" style="width: 64px;")
		div(class="text-center font-bold pt-4 text-3xl skuy skuy-up text-white") Frequently Asked Questions
		div(class="text-center py-4 text-xl skuy skuy-up text-white") (Pertanyaan yang sering ditanyakan)
		//- here we fucking go
		div(class="flex flex-col w-full md:px-24")
			-
				var faq = [
					{
						question: 'Aplikasi menunggu Kode OTP?',
						answer: 'Periksa pesan/message pada handphone yang memiliki no yang didaftarkan sesuai login.'
					},
					{
						question: 'Tidak ada driver?',
						answer: 'Jika bumdes anda sudah dalam layanan NGOJOL , pastikan  Internet dan GPS/Location dalam kondisi ON.'
					},
					{
						question: 'Alur Pendaftaran Driver?',
						answer: 'Ikuti form isian pada aplikasi NGOJOL DRIVER. Hubungi Bumdes desa anda untuk melakukan CEK FISIK.'
					},
					{
						question: 'Alur Pendaftaran Merchant?',
						answer: 'Ikuti form isian pada aplikasi NGOJOL MERCHANT. Hubungi Bumdes desa anda untuk melakukan CEK FISIK.'
					},
					{
						question: 'Tidak bisa membeli dari Merchant?',
						answer: 'Periksa deposit pada wallet di aplikasi NGOJOL. Hubungi Bumdes desa anda untuk melakukan TOP UP'
					},
					{
						question: 'Tidak bisa mengambil penumpang?',
						answer: 'Periksa deposit pada wallet di aplikasi NGOJOL. Hubungi Bumdes desa anda untuk melakukan TOP UP'
					},
					{
						question: 'Tidak bisa menerima pembelian?',
						answer: 'Periksa deposit pada wallet di aplikasi NGOJOL. Hubungi Bumdes desa anda untuk melakukan TOP UP'
					},
				]
			each q in faq
				//- A card
				div(class="p-4 mt-4 shadow-xl bg-gray-200 text-gray-900 rounded-xl")
					//- A Titile & Button Container
					div(class="w-full text-xl font-bold")
						span= q.question
					//- A Faq Fucking Answers
					div(class="w-full mt-3")
						p(class="text-justify")= q.answer
