div(class="w-full py-8 min-h-screen" style="color: #14163F;")
	div(class="mx-auto container my-24 px-4 md:px-24 lg:px-48 w-full h-full")
		div(class="text-4xl font-bold text-center mt-4") Pendaftaran Lomba
	div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full")
		iframe(id="gform-frame" src="https://docs.google.com/forms/d/e/1FAIpQLSetIZ9EhLXZFn6rFm56dHf-WlIuR-r9AqaFuoCb_TR9_dW0Qw/viewform?embedded=true" width="100%" height="1545" style="border: 1px solid black;" frameborder="0" marginheight="0" marginwidth="0") Memuat…
		