div(class="w-full bg-gray-100 bg-fixed min-h-screen flex items-center"  style="background-image: url('/assets/img/bg-white.jpg'); background-size: cover; background-position: right;" id="keunggulan")
	div(class="mx-auto px-4 container py-12")
		div(class="flex flex-col md:flex-row w-full")
			div(class="bg-gray-200 text-gray-900 p-4 m-4 rounded-xl flex md:flex-col justify-between text-center items-center shadow-xl skuy skuy-up md:w-full")
				div(class="w-1/6 flex justify-center text-center items-center md:h-full")
					img(src="/assets/svg/pin.svg" class="w-full")
				div(class="w-5/6 p-2 flex flex-col justify-center text-center items-center")
					div(class="font-bold") Terintegrasi dengan google maps
			div(class="bg-gray-200 text-gray-900 p-4 m-4 rounded-xl flex md:flex-col justify-between text-center items-center shadow-xl skuy skuy-up md:w-full")
				div(class="w-1/6 flex justify-center text-center items-center md:h-full")
					img(src="/assets/svg/login.svg" class="w-full")
				div(class="w-5/6 p-2 flex flex-col justify-center text-center items-center")
					div(class="font-bold") Auto Login
			div(class="bg-gray-200 text-gray-900 p-4 m-4 rounded-xl flex md:flex-col justify-between text-center items-center shadow-xl skuy skuy-up md:w-full")
				div(class="w-1/6 flex justify-center text-center items-center md:h-full")
					img(src="/assets/svg/easiness.svg" class="w-full")
				div(class="w-5/6 p-2 flex flex-col justify-center text-center items-center")
					div(class="font-bold") Sederhana dan Mudah
			div(class="bg-gray-200 text-gray-900 p-4 m-4 rounded-xl flex md:flex-col justify-between text-center items-center shadow-xl skuy skuy-up md:w-full")
				div(class="w-1/6 flex justify-center text-center items-center md:h-full")
					img(src="/assets/svg/rating.svg" class="w-full")
				div(class="w-5/6 p-2 flex flex-col justify-center text-center items-center")
					div(class="font-bold") Memberi Ulasan
			div(class="bg-gray-200 text-gray-900 p-4 m-4 rounded-xl flex md:flex-col justify-between text-center items-center shadow-xl skuy skuy-up md:w-full")
				div(class="w-1/6 flex justify-center text-center items-center md:h-full")
					img(src="/assets/svg/sale.svg" class="w-full")
				div(class="w-5/6 p-2 flex flex-col justify-center text-center items-center")
					div(class="font-bold") Pilihan Promo