div(class="w-full" style="background-color: #FFFAE9; color: #14163F;")
	div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full")
		div(class="py-24")
			div(class="bg-white w-full rounded-lg px-4")
				div(class="w-full py-4")
					img(src="/img/webinar/dummy.png" class="w-full rounded-lg")
				div(class="w-full py-4")
					div(class="mt-3 font-bold italic") Creative Sharing
					div(class="text-3xl font-bold mt-3") Creative Industry: What Does Designer Do?
					div(class="flex flex-col md:flex-row")
						div(class="mt-3 text-gray-500 md:w-1/3")
							| Alfi Zachkyelle
							br
							| Seniman Komik dan Animator
						div(class="mt-3 text-gray-500 md:w-2/3")
							| Helman Taofani
							br
							| Marketing and Creative Manager Harian Kompas
					div(class="mt-12" style="color: #424349;")
						| Industri Kreatif: Desainer Ngapain? — Beberapa orang pasti bingung sebenarnya desainer tuh ngapain sih? Apakah iya harus bisa ini-itu? Bagaimana sih kultur kerja desainer di industri kreatif?
						br
						br
						| Terinspirasi dari keresahan para desainer, Creative Sharing Dayskomvis 5 kali ini mengambil tema 'Creative Industry: What Does Designer Do?'. Nantinya kita akan berbagi pengalaman bersama, sharing suka-duka, dan boleh banget tukar pikiran atau tanya-tanya mengenai peran desainer di industri kreatif. Menghadirkan narasumber dengan background industri kreatif yang berbeda, yaitu Helman Taofani sebagai Marketing and Creative Manager Harian Kompas dan Alfi Zackyelle sebagai Seniman Komik dan Animator.
					div(class="mt-12 text-gray-500 font-bold")
						div(class="flex py-4")
							div(class="w-6")
								img(src="/svg/tanggal.svg" class="w-full")
							div(class="w-full ml-4")
								| Jumat, 24 September 2021 
						div(class="flex py-4")
							div(class="w-6")
								img(src="/svg/jam.svg" class="w-full")
							div(class="w-full ml-4")
								| 13.30 WIB
						div(class="flex py-4")
							div(class="w-6")
								img(src="/svg/biaya.svg" class="w-full")
							div(class="w-full ml-4")
								| Early bird 25rb (20 slot)
								br
								| Normal price 35rb
						div(class="flex py-4")
							div(class="w-6")
								img(src="/svg/zoom-meeting.svg" class="w-full")
							div(class="w-full ml-4")
								| Online Via Zoom Meeting 
				div(class="w-full py-4")
					a(href="/webinar/1" class="p-4 text-white w-full flex justify-center rounded-xl hover:underline text-center" style="background-color: #14163F;")
						| Lihat Selengkapnya →