doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Ngojol
		link(rel="stylesheet", href="/assets/css/tailwind.min.css")
		link(rel="stylesheet", href="/assets/css/style.css")
		link(rel="shortcut icon", href="/assets/svg/logo-blue.svg", type="image/svg")
	body
		//- navbar
		include components/navbar.pug
		//- faq section
		include components/faqsection.pug
		include components/footer.pug
		script(src="/assets/js/helper.js") 
		script(src="/assets/js/script.js") 