doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Dayskomvis
		link(rel="stylesheet", href="/css/tailwind.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon", href="/img/logo.png", type="image/png")
	body
		//- navbar
		include components/navbar.pug
		//- about
		include components/lomba_fotografi.pug
		//- footer
		include components/footer.pug
		script(src="/js/helper.js") 
		script(src="/js/script.js") 