* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-Black.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}


/* a:hover {
	font-weight: bold;
} */

.skuy-up {
	opacity: 0;
	position: relative;
	transform: translateY(64px);
	transition: all 0.5s;
}

.skuy-up.skuy-show {
	opacity: 1;
	transform: translateY(0px);
}

.blink.skuy-show {
	opacity: 0;
	animation: blink-animation 0.5s infinite alternate;
}

.float.skuy-show {
	animation: floating-animation 4s infinite;
	transform: translateY(0);
}

@keyframes blink-animation {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes floating-animation {
	50% {
		transform: translateY(32px);
	}
	100% {
		transform: translateY(0);
	}
}