extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src="/img/pameran/asset_1/banner.png" class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left") Perancangan Visual Identity Dengan Kekuatan Ilustrasi pada Rice Bowl Oishi Brunch di Surakarta
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			p(class="text-justify text-md py-24") “Oishi Brunch adalah sebuah usaha makanan yang terletak di Pabelan, Surakarta. Menjual makanan rice bowl dengan menu utama yaitu jamur. Oishi Brunch merupakan sebuah brand baru yang belum memiliki visual identity. Maka dari itu, saya ingin memberi solusi yaitu sebuah visual identity yang meliputi logo, desain kemasan, pattern, dan media yang relevan. Dengan adanya visual identity yang baik maka rice bowl Oishi Brunch akan memudahkan konsumen dalam membedakan sebuah brand dan meningkatkan kepercayaan kepada masyarakat.

		div(class="w-full flex justify-center item-center")
			img(src="/img/pameran/asset_1/banner_2.png" class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class="py-24")
				p(class="text-center text-3xl" style="color: #14163F;" ) Media utama dari perancangan ini adalah buku Graphic Standard Manual				
				p(class="text-center text-xl mt-4") Selengkapnya silahkan cek 
					a(href="https://isuu.com/adiutomo" class="underline") isuu.com/adiutomo
			div(class="w-full grid grid-cols-1 md:grid-cols-2 gap-4")
				- let i = 0
				while i < 9
					div(class=`w-full md:p${i % 2 ? 't' : 'b'}-36`)
						img(src=`/img/pameran/asset_1/g-${i + 1}.png` class="skuy skuy-up")
					- i++
			div(class="py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src="/img/pameran/asset_1/kreator.png" class="w-48")
					p(class="text-3xl mt-4" style="color: #14163F;") Adi Utomo
					p(class="text-xl mt-4") D-3 DKV 2018

					div
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Sosial Media
						p(class="text-sm mt-2") @adirck_
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Portofolio
						p(class="text-sm mt-2")
							a(href="https://isuu.com/adiutomo" class="underline") isuu.com/adiutomo
